<footer>
    <div class="container">
      {{ page.footer }}
    </div>
  </footer>
  <div class="copyright-wrapper">
    <div class="container">
      {{ page.copyright }}
    </div>
  </div>