<div class="footer-about-wrapper">
  <h3>{{ content.field_info_title }}</h3>
  <p>{{ content.body }}</p>
  <div class="f-add">
    {{ content.field_info_a }}
  </div>    
  <a href="#" class="f-email">{{ content.field_info_email }}</a>
</div>
